.public-DraftStyleDefault-block {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.toolbar {
  border-bottom: 2px solid gray;
  padding: 10px;
}

.toolbar > * {
  margin-right: 5px;
}
