.editor {
  box-sizing: border-box;
  border: 1px solid black;
  cursor: text;
  padding: 10px;
  margin-top: 20px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: white;
  min-height: 500px;
}

.toolbar {
  border-bottom: 2px solid gray;
  padding: 10px;
}

.toolbar > * {
  margin-right: 5px;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}
